<!DOCTYPE html>
<html>
    <head>
        <title>Tier v0.1</title>
    </head>
    <body>
        <h1>
            Hello Wordl!
        </h1>
        
        <a href="./create_tierlist">create_tierlist</a><br>
        <a href="./tierlists">tierlists</a>
    </form>
    </body>
</html>
